<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Успеваемость{% endblock %}</title>
    {% block css %}<link rel="stylesheet" href="../../../src/static/css/base.css">{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
<div class="parent">
    <div class="container">
    <div class="back">
        <a href="{% url 'back' %}"><img src="../../../src/static/img/Vector.svg" alt="">Назад</a>
    </div>
        <div class="head">
        {% block name %}<p>Успеваемость</p>{% endblock %}
            <hr>
    </div>
        <div class="table">
        {% block head %}<div class="head-table">
            <div class="d1">
                <form action="{% url 'search_results' %}" method="get">
                {% block search %}<input name='q' type="text" placeholder="Найти оценку по дате, имени ученика и т.д.">
                <button type="submit"><img src="../../../src/static/img/Search.svg" alt=""></button>{% endblock %}
                </form>
                {% block add %}<a href="">Добавить оценку</a>{% endblock %}
            </div>
            </div> {% endblock %}
        {% block table %}
        <table id="mytable">
            <thead>
            <tr>
                <th>Дата урока</th>
                <th>Присутствие</th>
                <th>Оценка за урок</th>
                <th>Ученик</th>
                <th>Учебный предмет</th>
                <th>Класс</th>
                <th><img src="../../../src/static/img/More.svg" alt=""></th>
            </tr>
            </thead>
            <tbody>
            {% for el in marks %}
                <form method="post">{% csrf_token %}
                    <tr class="success">
                        <td>{{ el.lesson_date }}</td>
                        <td>
                            <button class="o">{{ el.is_appeared }}</button>
                        </td>
                        <td>
                            <button class="i">{{ el.student_mark }}</button>
                        </td>
                        <td>{{ el.student_id.name }}</td>
                        <td>{{ el.subject_id.name }}</td>
                        <td>{{ el.class_id.class_id }}</td>
                        <td>
                            <div class="dropdown"><img src="../../../src/static/img/More.svg" alt="">
                                <div class="dropdown-content">
                                    <a href="{% url "all_shit/" ap="change" member_id="{{ el.id }}"%}">Изменить</a>
                                    <hr>
                                    <a href="{% url "all_shit/" ap="delete" member_id="{{ el.id }}"%}">Удалить</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </form>
            {% endfor %}
            </tbody>
        </table>
        {% endblock %}
    <div class="footer-table">
    </div>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    {% block script %}<script>$('#mytable tr td button.i').each(function () {
        var cellValue = $(this).html();
        if (!isNaN(parseFloat(cellValue))) {
            if (cellValue == 2) {
                $(this).css('font-family', 'Inter');
                $(this).css('font-weight', '500');
                $(this).css('border', 'none');
                $(this).css('padding', '4px 15px 4px 15px');
                $(this).css('background-color', '#FFE0E0');
                $(this).css('color', '#D30000');
                $(this).css('border-radius', '10px');
            }

            if (cellValue == 3) {
                $(this).css('font-family', 'Inter');
                $(this).css('font-weight', '500');
                $(this).css('border', 'none');
                $(this).css('padding', '4px 15px 4px 15px');
                $(this).css('background-color', '#FFECCC');
                $(this).css('color', '#965E00');
                $(this).css('border-radius', '10px');
            }

            if (cellValue == 4) {
                $(this).css('font-family', 'Inter');
                $(this).css('font-weight', '500');
                $(this).css('border', 'none');
                $(this).css('padding', '4px 15px 4px 15px');
                $(this).css('background-color', '#CDFFCD');
                $(this).css('color', '#007F00');
                $(this).css('border-radius', '10px');
            }

            if (cellValue == 5) {
                $(this).css('font-family', 'Inter');
                $(this).css('font-weight', '500');
                $(this).css('border', 'none');
                $(this).css('padding', '4px 15px 4px 15px');
                $(this).css('background-color', '#CDFFCD');
                $(this).css('color', '#007F00');
                $(this).css('border-radius', '10px');
            }
        }
    });
    </script>
    <script>$('#mytable tr td button.o').each(function () {
        var cellVal = $(this).html();
        {
            if (cellVal == "True") {
                $(this).text("● Присутствовал");
                $(this).css('font-family', 'Inter');
                $(this).css('font-weight', '500');
                $(this).css('border', 'none');
                $(this).css('padding', '4px 10px 4px 7px');
                $(this).css('background-color', '#E6E6F2');
                $(this).css('color', '#4A4AFF');
                $(this).css('border-radius', '10px');
            }

            if (cellVal == "False") {
                $(this).text("● Отсутствовал");
                $(this).css('font-family', 'Inter');
                $(this).css('font-weight', '500');
                $(this).css('border', 'none');
                $(this).css('padding', '4px 10px 4px 7px');
                $(this).css('background-color', '#F2F0F9');
                $(this).css('color', '#6E6893');
                $(this).css('border-radius', '10px');
            }
        }
    });
    </script>
    {% endblock %}
</div>
</body>
</html>