<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Администрируемый раздел</title>
    <link href="../../../src/static/css/admin_tables.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <base target="_self">
</head>
<body>

    <div class="parent">
        <div class="head">
        <h1>Административный раздел</h1>
        </div>
        <hr>
    <div class="container">
        <a href="{% url 'AcademicPerfomance' %}"><button class="button">Журнал успеваемости</button></a>
        <a href="Homework.html"><button class="button">Журнал домашних заданий</button></a>
        <a href="Timetable.html"><button class="button">Расписание учебных занятий</button></a>
        <a href="Students.html"><button class="button">Личные дела учеников</button></a>
    </div>
        <div class="row2">
            <a href="AcademicSubjects.html"><button class="button">Журнал учебных предметов</button></a>
            <a href="Classes.html"><button class="button">Журнал классов школы</button></a>
            <a href="AverageScore.html"><button class="button">Журнал средних баллов</button></a>
            <a href="Teachers.html"><button class="button">Личные дела учителей</button></a>
        </div>
        <div class="row4">
            <a href="LectureHalls.html"><button class="button">Журнал занятости аудиторий</button></a>
            <a href="Analytic.html"><button class="button">Печать отчётов по успеваемости</button></a>
        </div>
        <div class="row3">
             <form action="/" target="_self">
        <button class="back">Выйти</button>
             </form>
        </div>
    </div>

</body>
</html>