body {
    background-color: #F2F0F9;
    font-family: 'Inter', sans-serif;
    margin: 0px;
}

.back {
    margin-top: 20px;
}

.back img {
    margin-right: 5px;
}

.back a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: #6E6893;
    text-transform: uppercase;
}

.head {
    margin-bottom: 20px;
    margin-top: 40px;
}

.error {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: white;
    height: 60px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    position: relative;
    margin-bottom: 30px;
}

.error-disable {
    display: none;
}

.color {
    background-color: #D30000;
    height: 45px;
    width: 4px;
    border-radius: 100px;
    margin: 0px 13px 0px 7px;
}

.error img {
    margin-right: 14px;
}

.error p {
    font-family: 'Inter', sans-serif;
}

.error p:first-child {
    color: #25213B;
    font-size: 13px;
    font-weight: 600;
    margin: 0px 0px 2px 0px;
}

.error p:nth-child(2) {
    color: #90959E;
    font-size: 11px;
    font-weight: 500;
    margin: 0px;
}

.close_alert {
    position: absolute;
    right: 0;
    cursor: pointer;
    padding-right: 5px;
}

.success-alert {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: white;
    height: 60px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    position: relative;
    margin-bottom: 30px;
}

.color-success {
    background-color: #007F00;
    height: 45px;
    width: 4px;
    border-radius: 100px;
    margin: 0px 13px 0px 7px;
}

.success-alert img {
    margin-right: 14px;
}

.icon img{
    height: 24px;
    width: 24px;
    color: #007F00;
}

.success-alert p {
    font-family: 'Inter', sans-serif;
}

.success-alert p:first-child {
    color: #25213B;
    font-size: 13px;
    font-weight: 600;
    margin: 0px 0px 2px 0px;
}

.success-alert p:nth-child(2) {
    color: #90959E;
    font-size: 11px;
    font-weight: 500;
    margin: 0px;
}

.head_name {
    font-family: 'Inter', sans-serif;
    color: #6E6893;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.head-table {
    border-radius: 8px 8px 0px 0px;
    background-color: white;
    height: 70px;
    position: relative;
}

.head-table form {
    position: relative;
}

.head-table input {
    font-family: 'Inter', sans-serif;
    width: 352px;
    height: 40px;
    color: #6E6893;
    border-radius: 6px;
    outline: none;
    border: none;
    background-color: #F4F2FF;
    margin: 15px 0px 15px 20px;
    font-size: 12px;
    padding-left: 10px;
}

.d1 form button {
    position: absolute;
    top: 2px;
    left: 342px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 15px 0px 15px;
}

.d1 a {
    position: absolute;
    height: 15px;
    top: 2px;
    right: 20px;
    background-color: #6D5BD0;
    color: white;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
    margin: 15px 0px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.head hr {
    border: none;
    color: #C6C2DE;
    height: 1px;
    background-color: #C6C2DE;
    margin-top: 11px;
}

.dropdown-content hr {
    background-color: #F2F0F9;
    border: none;
    height: 1px;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    background-color: #Ffffff;
    overflow: hidden;
    width: 1100px;
}

thead tr th {
    background-color: #F4F2FF;
    border-bottom: 1px solid #D9D5EC;
    border-top: 1px solid #D9D5EC;
}

th {
    font-size: 12px;
    font-weight: 600;
    border-bottom-color: #D9D5EC;
}

th:first-child {
    color: #6E6893;
    padding: 13px 25px 12px 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    width: 80px;
    text-align: left;
}

th:nth-child(2) {
    color: #6E6893;
    width: 240px;
    padding-right: 30px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: left;
}

th:nth-child(3) {
    color: #6E6893;
    width: 325px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: left;
    padding-left: 34px;
}

th:nth-child(4) {
    color: #6E6893;
    width: 104px;
    padding-left: 64px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: left;
}

th:nth-child(5) {
    color: #6E6893;
    letter-spacing: 0.05em;
    width: 331px;
    padding-left: 54px;
    text-transform: uppercase;
    text-align: left;
}

th:nth-child(6) {
    color: #6E6893;
    width: 150px;
    padding-left: 54px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: left;
}

th:last-child {
    color: #6E6893;
    width: 30px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: right;
}

th:nth-child(8) {
    padding-right: 20px;
    text-align: right;
}


.success td {
    margin-top: 1px;
    font-size: 14px;
    font-weight: 500;
    background-color: white;
    color: #25213B;
    border-bottom: 1px solid #D9D5EC;
}

.success td:first-child {
    padding: 20px 45px 20px 20px;
    width: 80px;
}

.success td:nth-child(3) {
    padding-left: 34px;
    text-align: left;
}

.success td:nth-child(4) {
    width: 450px;
    padding-left: 64px;
}

.success td:nth-child(5) {
    padding-left: 54px;
    width: 250px;
}

.success td:nth-child(6) {
    width: 150px;
    padding-left: 54px;
    text-align: left;
}

.success td:last-child {
    width: 150px;
    padding: 20px 20px 20px 20px;
    text-align: right;
    cursor: pointer;
}

.footer-table {
    height: 45px;
    background-color: #F4F2FF;
    border-radius: 0px 0px 8px 8px;
}

.table {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: 70px;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 130px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
    z-index: 1;
    border-radius: 6px;
    padding: 5px;
    pointer: cursor;
}

.dropdown-form-hidden {
    display: none;
    position: absolute;
    z-index: 100;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.dropdown-form:active .dropdown-form-hidden {
    display: block;
}

.dropdown-form-hidden:hover {
    display: block;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #25213B;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
}

.dropdown-content a:nth-child(3) {
    color: #D30000;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #F2F0F9;
    border-radius: 4px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdown {
    background-color: #3e8e41;
}

.modal {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  top: -1000px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 60px 15px;
}

.modal_active {
  position: fixed;
  top: 0;
  visibility: visible;
  opacity: 1;
  transition: .3s;
}

.modal__content {
  width: 100%;
  max-width: 300px;
  padding: 50px 40px 50px 40px;
  background: #Ffffff;
  border-radius: 6px;
  position: relative;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.modal__close-button {
  background: #ff0000;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  right: -20px;
  top: -20px;
  background: none;
  cursor: pointer;
  transition: .3s;
  outline: none;
}

.modal__close-button:hover {
  transition: .3s;
  transform: rotate(180deg);
}

.modal__content form {
    display: flex;
    flex-wrap: wrap;
}

.lesson_date {
    text-align: left;
    width: 100%;
    margin-bottom: 25px;
}

.lesson_date label {
    color: #90959E;
    font-size: 13px;
    font-weight: 500;
}

.lesson_date input {
    width: 288px;
    padding: 0px 0px 0px 10px;
    margin: 0;
    border: 2px solid #E3E6F3;
    border-radius: 4px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    margin-top: 8px;
}

.lesson_date input:focus-visible {
    border-color: #6D5BD0;
    outline-offset: 2px;
    outline: none;
}

.is_appeared {
    display: inline-block;
    text-align: left;
    width: 100%;
    margin-bottom: 25px;
}


.student_mark {
    text-align: left;
    width: 100%;
    margin-bottom: 25px;
}

.student_mark label {
    color: #90959E;
    font-size: 13px;
    font-weight: 500;
}

.student_mark input {
    width: 288px;
    padding: 0px 0px 0px 10px;
    margin: 0;
    border: 2px solid #E3E6F3;
    border-radius: 4px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    margin-top: 8px;
}

.student_mark input:focus-visible{
    border-color: #6D5BD0;
    outline-offset: 2px;
    outline: none;
}

.student {
    margin-bottom: 30px;
    text-align: left;
}

.student label {
    color: #90959E;
    font-size: 13px;
    font-weight: 500;
}


.student input {
    width: 288px;
    padding: 0px 0px 0px 10px;
    margin: 0;
    border: 2px solid #E3E6F3;
    border-radius: 4px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    margin-top: 8px;
}

.student input:focus-visible {
    border-color: #6D5BD0;
    outline-offset: 2px;
    outline: none;
}

.student_amount {
    margin-bottom: 25px;
    text-align: left;
}

.student_amount label {
    color: #90959E;
    font-size: 13px;
    font-weight: 500;
}

.student_amount input {
    width: 288px;
    padding: 0px 0px 0px 10px;
    margin: 0;
    border: 2px solid #E3E6F3;
    border-radius: 4px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    margin-top: 8px;
}

.student_amount input:focus-visible {
    border-color: #6D5BD0;
    outline-offset: 2px;
    outline: none;
}

.done {
    width: 100%;
    height: 60px;
    background-color: #6D5BD0;
    color: white;
    font-family: 'Inter', sans-serif;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.done:hover {
    background-color: #584AA8;
    transition: 0.3s;
}



